body {
  color: #7027a0;
  font-family: "Courgette", cursive;
}

.fa-map-marker-alt,
.fa-dot-circle {
  color: #3f0713;
}

/*Jumbotron*/
.jumbotron {
  /* background-color: transparent; */
  margin: 0;
  height: 750px;
  padding: 10px;
}

.jumbotron h1 {
  letter-spacing: 1px;
  font-size: 2em;
  font-weight: bold;
}

.jumbotron h1,
.jumbotron p {
  text-align: center;
}

.jumbotron p {
  font-size: 1em;
}

/*map*/
#googleMap {
  width: 80%;
  height: 400px;
  margin: 10px auto;
}

/*output box*/
#output {
  text-align: center;
  font-size: 2em;
  margin: 20px auto;
}

#mode {
  color: black;
}
