body {
  background-color: #e8ecef;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.footer {
  background-color: #d1c4e9;
  margin: 100px auto;
  padding: 20px 0px 20px 0px;
}

html {
  scroll-behavior: smooth;
}

.navhead {
  height: 60px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.navbar {
  height: 10vh;
}
.brand {
  transform: rotate(-90deg);
  position: absolute;
  top: 80vh;
}

/* CSS for the Map View */

.map h1 {
  letter-spacing: 1px;
  font-size: 2em;
  font-weight: bold;
}

/* Map View  CSS Ends */

.cost {
  width: 400px;
  text-align: center;
}


.park-card{
color: black;
}