body {
  font-family: "Montserrat";
}
#title {
  background-image: url("../images/Bequeath.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.heading {
  font-family: "Cinzel", serif;
  margin-top: 30px;
  text-align: center;
  margin-right: 22px;
  font-size: 125px;
  color: white;
  text-shadow: 10px 10px 15px black;
  margin-bottom: -210px;
}
.tagline {
  font-family: "Courgette", cursive;
  margin-top: 100px;
  text-shadow: 5px 5px 5px black;
  padding-top: 35px;
  font-size: 45px;
  color: white;
  /* font-weight: bold; */
  letter-spacing: 2px;
  padding-bottom: 140px;
  padding-left: 0px;
  margin-bottom: 100px;
  text-align: center;
}
.navimg {
  height: 100px;
  border-radius: 50px;
}
.navbar {
  padding: 0;
  height: 10rem;
  width: auto;
  padding-bottom: 0;
  padding-top: 0;
}
.navbar-brand {
  font-family: "Permanent Marker", cursive;
  font-size: 4rem;
}
.container-fluid {
  padding: 0 10% 10% 15%;
  line-height: 4;
  font-size: 25px;
  height: 100%;
  width: auto;
}
